# Archivos del entorno virtual
venv/
.env/

# Archivos sensibles
*.env
token.json
Client_Secret.json
Dash_Game.bat

# Backups
*.backup
BackUP

# Archivos de Python
__pycache__/
*.py[cod]
*.sqlite3

# Archivos de VSCode
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos del frontend (Node.js)
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/dist/

# Archivos de compilación o temporales
*.log
*.tmp

# Entornos de ejecución
*.pid
