.Card_Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 0 10%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.Card {
    display: flex;
    flex-direction: column;
    height: 420px;
    background-color: var(--Card);
    color: var(--Card_Text);
    border: 1px solid var(--bordes);
    border-radius: 10px;
    cursor: pointer;
    animation: fadeInUp 0.6s ease forwards;
    opacity: 0; 
}

.Card_Image {
    width: 100%;          /* ocupa todo el ancho */
    height: 240px;        /* fija la altura */
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    background-color: var(--bordes);
}

.Card_Info{
    padding: 0 20px;
}

.Card_Head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.Card_Title{
    margin-top: 5px;
    margin-bottom: 8px;
}

.Year_Realese{
    color: var(--Card_Year);
    font-weight: 500;
}

.Genres{
    background-color: var(--Card);
    border-radius: 15px;
    border: 1px solid var(--bordes);
    padding: 5px 10px;
    color: var(--Title_Sec);
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.Time{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.Icon {
    display: flex;
    align-items: center;
    margin-right: 6px;
    margin-top: 2px;
    font-size: 18px;
    color: var(--Morado);
}

.Flexo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
}

.Card_Data{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--bordes);
    color: var(--Title_Sec);
    margin-bottom: 10px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}