.Modal::-webkit-scrollbar {
    width: 10px;
}

.Modal::-webkit-scrollbar-track {
    background: #0c0c14;
}

.Modal::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 4px;
}

.Create {
    background: var(--Azul);
    border: var(--Azul);
    border-radius: 10px;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;

    min-width: 150px;
    width: fit-content;

    transition: 0.3s;
}

.Create:hover,
.Edit:hover {
    background: #fff;
    color: var(--Azul);
}

.Edit {
    background: transparent;
    border: 1px solid #555;
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.Modal {
    background: var(--Card);
    border-radius: 10px;
    width: 80%;
    max-width: 750px;
    max-height: 90%;
    overflow-y: auto;
    color: white;
    animation: fadeInScale 0.3s ease-out forwards;
    padding: 20px;
}

.Modal h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

.Modal p {
    font-size: 18px;
    font-weight: 500;
    color: var(--Title_Sec);
}

.Form{
    padding-top: 10px;
}

.Form input,
.Form textarea {
    background: var(--Input);
    color: #fff;
    border-radius: 8px;
    border: 1px solid var(--bordes);
    padding: 12px 15px;
}

.Form input::placeholder,
.Form textarea::placeholder {
    color: var(--Title_Sec);
}

.Form textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 70px;
}

label {
    color: var(--Label);
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
}

.separator {
    height: 1px;
    background-color: var(--bordes);
    margin: 20px 0 10px 0;
}

.Selector {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.FormButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.FormButtons button {
    background: var(--Azul);
    border: var(--Azul);
    border-radius: 5px;
    color: white;
    margin-left: 20px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s;
}

.FormButtons button:first-child {
    background-color: var(--Not);
}

.placeholder-text {
    color: var(--Bordes);
    font-size: 14px;
    font-style: italic;
}


.Box_Group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
    margin-top: 5px;
}

.Element_Group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Element_Group label,
.Label_Modal {
    color: rgb(180, 180, 180);
    font-size: 14px;
}

.Element_Group .value {
    font-size: 14px;
    font-weight: 700;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ImageWrapper {
    position: relative;
    margin-bottom: 35px;
}

.Image {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px var(--bordes) solid;
}

.Image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ImageP {
    border: 2px solid var(--bordes);
    border-radius: 8px;
    background: var(--Card);
    position: absolute;
    left: 20px;
    bottom: -40px;
    width: 190px;
    height: 230px;
    overflow: hidden;
}

.ImageP img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ImageInput p {
    font-size: 14px;
}

input.nombreGame {
    background-color: var(--Card);
    padding: 0;
    border: none;
    border-radius: none;
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    width: 90%;
}

.ImageInput {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}



.ImageInput p {
    font-size: 14px;
    line-height: 1.3;
}

.Box_Image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    width: 100%;
}

@media (max-width: 600px) {
    .Create {
        width: 100%;
    }
}

