.chart-container {
  background-color: var(--Card);
  border-radius: 10px;
  padding: 20px 35px;
  color: white;
  height: 90%;
}

.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
  color: white;
  font-family: sans-serif;
}

.chart-subtitle {
  color: var(--Title_Sec);
  margin-top: 0px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 60px;
}