.achievement-panel {
  height: 100%;
  padding: 32px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

/* Header */
.panel-header {
  margin-top: -35px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.9;
}

.panel-header h3 {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 1px;
}

.icon {
  padding: 5px 0;
  font-size: 35px;
  color: gold;
}

/* Stats */
.stats {
  display: flex;
  gap: 110px;
  margin-top: -10px;
}

.stat h1 {
  font-size: 72px;
  font-weight: 800;
  margin: 0;
}

.stat p {
  margin: 0px 2px;
  margin-top: -10px;
  font-size: 18px;
  font-weight: 700;
  color: #849da3;
}

.lightGreen h1 {
  color: #00e0a4;
}

.warning h1 {
  color: #ffc400;
}

/* Divider */
.divider {
  width: 730px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 24px 0;
}

/* Top Achievement */
.top-achievement {
  width: 700px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px;
  border-radius: 12px;
  margin-top: 25px;
}

.top-info{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.top-info h4, .top-info .lightGreen {
  margin: 0;
  font-size: 42px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: -20px;
}

.top-info p{
  font-weight: 700;
  margin-bottom: 25px;
  color: #849da3;
}

.top-info > div:last-child {
  text-align: right;
}

.top-info .lightGreen{
  color: #00e0a4;
}

/* Global Progress */
.log-progress {
  width: 730px;
  margin-top: 30px;
}

.progress_Indi{
  display: flex;
  width: 100%;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 7px;
}

.progress_Indi p{
  font-size: 16px;
  margin: 0px;
}

.progress-bar {
  width: 100%;
  height: 15px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #00e0a4;
  border-radius: 6px;
}
