.MonthCard {
    position: relative;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--bordes);
    border-radius: 10px;
    overflow: hidden;
    padding: 0 40px;
}

.Info_Month {
    margin: 0;
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: space-between;
    color: white;
}

.Info_Month .Value {
    font-size: 135px;
    font-weight: 800;
    margin: 0;
    margin-top: -30px;
}

.Info_Month .Name {
    margin: 0;
    margin-top: -20px;
    font-size: 22px;
    font-weight: 700;
    color: #849da3;
}

.dividerMonth {
    background-color: gray;
    width: 100%;
    max-width: 700px;
    height: 1px;
    margin: 30px 0;
}

.Games-Container {
    display: flex;
    justify-content: stretch;
    margin-bottom: 20px;
    gap: 23px;
}

.game-card {
    background: rgb(0, 0, 0, 0.35);
    border: 1px solid var(--bordes);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.game-card img {
    width: 200px;
    height: 220px;
    object-fit: cover;
}

/* Info */
.game-info {
    padding: 15px 10px;
}

.game-title {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -8px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;
}

.game-stats {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #bbb;
}

.game-stats .icon {
    font-size: 16px;
    /* un poco más grande que el texto */
}

/* 🎨 Colores personalizados */
.game-stats .time-icon {
    color: #4da6ff;
    /* azul suave */
}

.game-stats .trophy-icon {
    color: #f5c518;
    /* dorado */
}

.Games-Container {
    display: flex;
    gap: clamp(12px, 3vw, 20px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}

.Games-Container::-webkit-scrollbar {
    display: none;
}

.game-card {
    flex: 0 0 clamp(220px, 60vw, 260px);
    scroll-snap-align: start;

    border-radius: 12px;
    overflow: hidden;
}

.game-image img {
    width: 100%;
    height: clamp(200px, 20vw, 250px);
    object-fit: cover;
}

.game-info {
    padding: 20px 12px;
}

@media (max-width: 600px) {

    .Info_Month {
      flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
  
  }