.Bars_Conteiner{
    margin: 25px 35px;
}

.Bar_Title{
    color: white;
    margin-bottom: -20px;
}

.Bar_Tex{   
    margin-bottom: 30px;
    color: var(--Title_Sec);
    font-size: 20px;
    font-weight: 400;
}

.Bar_Info{
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.Bar_Subtitle{
    color: #fff;
    margin-top: 0px;
    font-weight: 500;
    font-size: 20px;
}

.barra {
    width: 100%;
    background-color: var(--Barra);
    border-radius: 10px;
    overflow: hidden;
    height: 18px;
    margin: 5px 0;
    margin-bottom: 15px;
}

.barra-progreso {
    border-radius: 10px;
    height: 100%;
}

.Bar_Subtex{
    color: var(--Title_Sec);
    margin-top: -10px;
    font-size: 16px;
    font-weight: 500;
}

.separator {
  height: 1px;
  background-color: var(--bordes);
  margin: 20px 0 10px 0;
}

.Numbers{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

.Number {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Centra texto dentro de cada <p> */
}

.Ident{
    margin-top: 15px;
    font-size: 34px;
    font-weight: 700;
    color: white;
}

.SubIdent{
    color: var(--Title_Sec);
    margin-top: -35px;
    font-size: 16px;
    font-weight: 500;
}

.barra-progreso {
  height: 100%;
  transition: width 1s ease-in-out;
  border-radius: 10px;
}

.barra-progreso.verde {
    background-color: var(--Verde);
}

.barra-progreso.azul {
  background-color: var(--Azul);
}