.top-games {
  display: flex;
  color: #fff;
  height: 100%;
}

/* Top 1 */
.top-main {
  position: relative;
  width: 50%;
  background-size: cover;
  background-position: center;
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 70%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    black 0%,
    black 70%,
    transparent 100%
  );
}

.top-main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.3)
  );
}

.overlay {
  position: relative;
  height: 85%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rank {
  font-size: 22px;
  color: #f5b700;
  font-weight: 700;
  margin-bottom: -15px;
}

.rank .Crown{
  color: #f5b700;
  font-size: 22px;
}

.top-main h2 {
  font-size: 62px;
  margin: 0 0 12px;
  margin-bottom: -10px;
}

.stats_Top1 {
  display: flex;
  gap: 50px;
  font-size: 22px;
  font-weight: 700;
  opacity: 0.9;
}

.stats_Top1 .statTop {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 28px;
}

.statTop .trophy{
  font-size: 22px;
  color: #f5b700;
}

.statTop .timer{
  font-size: 26px;
  color: var(--Morado);
}

/* Lista */
.top-list {
  width: 50%;
  height: 95%;
  gap: 12px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.top-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 24px;
  padding-right: 60px;
  border-radius: 12px;

  background: rgba(0,0,0,0.6);

  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  flex: 1;

}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.top-item .rank{
  margin: 0;
  font-size: 26px;
}

.top-item .Img {
  min-height: 85%;
  height: auto;
  aspect-ratio: 2 / 3;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--bordes);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.Hours {
  font-size: 28px;
  font-weight: 700;
}

.fade-in {
  opacity: 0;
  transform: translateY(15px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
