.Price_Per_Hour_Container {
    padding: 20px 35px;
    color: #e5e7eb;
    width: 600px;
    height: 410px;
}

.chart-title {
  font-size: 22px;
  margin-bottom: 4px;
  color: #f3f4f6;
}

.PerHound_subtitle {
  color: #9CA3AF;
  margin-top: 0px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.Valor{
  color: white;
  font-weight: 500;
}